<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Yuja Chat</title>
</head>
<body>
<img src="{{receiverPic}}" alt="why..?" />
<h1>{{receiver}}와 체팅</h1>
<a href="/rooms">채팅방 나가기</a>
	<div id="chatlogs">
		{{#messages}}
			{{#ownerOrNot}}
				<div style='text-align:right; border-style:solid'>
					<img src="../files/profiles/{{senderPic}}" alt="" />
					<h3>{{sender}}</h3><br>
					<h5>{{content}}</h5><br>
					<h6>{{createdDate}}</h6>
				</div>
			{{/ownerOrNot}}
			{{^ownerOrNot}}
				<div style='text-align:left; border-style:solid'>
					<img src="../files/profiles/{{receiverPic}}" alt="" />
					<h3>{{sender}}</h3><br>
					<h5>{{content}}</h5><br>
					<h6>{{createdDate}}</h6>
				</div>
			{{/ownerOrNot}}
		{{/messages}}
	</div>
	
	<div>
		<textarea>{{receiverPic}}</textarea>
		<input type="text" id="message" placeholder="메세지를 입력해 주세요" autocomplete="off"/>
		<button type="button" onClick="send()">보내기</button>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
const receiver = "{{{receiver}}}";
const username = "{{{username}}}";
const roomId = "{{{roomId}}}";
const senderPic = "{{{senderPic}}}";
const receiverPic = "{{{receiverPic}}}";
</script>
<script src="/js/chat/chat.js"></script>
</html>