<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/chat_css/chat.css" />

<title>Insert title here</title>
</head>
{{! 채팅방 처음에 들어가기전 채팅방 리스트 }}
<body>
<div class="ChatListTitle">
   <h3>유자톡</h3>
</div>
<div id="ErrorMsg"></div>
   <div>
       <div class="ChatForm">
	       <form onsubmit="return findRoom()">
	           <input class="ChatSearch" type="text" id="receiver" name="receiver" placeholder="상대방 닉네임을 입력하세요" maxlength="20" autocomplete="off">
	           <input class="ChatSubmit" id="ChatSubmitIcon" type="submit" value="🍳" click="return findRoom()">       
	       </form>
       </div>
   </div>
    <div>
        <div class="ChatRoomsWrapper">
            {{#chatRooms}}
            <div class="RoomWrapper" id="roomNum{{chatRoomId}}">
                   <div class="ChatImg"><a href="javascript:void(0);" id="enterRoom" onClick="enterRoom({{chatRoomId}}, {{notiId}})"><img src="{{profilePic}}" alt="ProfilePicture"/></a></div>
                   <div class="ChatSender">
                   {{#hasNewChat}}
	                   <span class="NewChatNotice" id="enterRoom" onClick="enterRoom({{chatRoomId}}, {{notiId}})">📧</span>            
                   {{/hasNewChat}}
                   <a href="javascript:void(0);" id="enterRoom" onClick="enterRoom({{chatRoomId}}, {{notiId}})">{{writer}}</a></div>
                   
                   <div class="ChatRoomIn"><a href="javascript:void(0);" id="delete" onClick="deleteById({{chatRoomId}})">❌</a></div>
            </div>
            {{/chatRooms}}
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/chat/rooms.js"></script>
</html>