<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/chat_css/chat.css" />

<title>Insert title here</title>
</head>
{{! 채팅방 처음에 들어가기전 채팅방 리스트 }}
<body>
<div class="ChatListTitle">
   <h2><strong>"{{nickname}}"</strong> 님의 채팅방</h2>
</div>
   <div>
       <form class="ChatForm" action="/socket/room" method="POST">
           <input class="ChatSearch" type="text" id="receiver" name="receiver" placeholder="상대방 닉네임을 입력하세요!" maxlength="20" required>
           <input class="ChatSubmit" id="ChatSubmitIcon" type="submit" value="Start!">
       </form>
   </div>
    <div>
        <div class="ChatRoomsWrapper">
            {{#chatRooms}}
            <div class="RoomWrapper">
                   <div class="ChatImg"><a href="/socket/chat/{{chatRoomId}}"><img src="../files/profiles/{{profilePic}}" alt="ProfilePicture"/></a></div>
                   <div class="ChatSender">{{writer}}</div>
                   <div class="ChatRoomIn"><a href="#" id="delete" onClick="delete({{chatRoomId}})">나가기</a></div>
                   <div><input type="button" id="click" value="삭제" onclick="deleteById({{chatRoomId}})"></div>
            </div>
            {{/chatRooms}}
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/chat/rooms.js"></script>
</html>