@font-face {
  src: url('/font/SCDream3.otf');
  font-family: 'scdream3';
}
@font-face {
  src: url('/font/NanumBarunGothic.ttf');
  font-family: 'nanumGothic';
}

body {
	font-family: 'scdream3';
	-ms-overflow-style: none;
}
::-webkit-scrollbar { 
	display: none;
}
.ChatListTitle {
    font-size: 1.5rem;
    margin-bottom: 5%;
    margin-left: 33%;
    text-align: center;
    font-family: 'scdream3';
    border-bottom: 2px solid #c4302b;
    width: 35%;
    position: relative;
}
.ChatListTitle h3 {
	margin:auto;
	padding-bottom:10px;
}
#ErrorMsg {
	font-size: 1rem;
	text-align: center;
	font-family: 'scdream3';
}

.ChatForm {
  text-align: center;
  margin-bottom: 5%;
  font-family: 'scdream3';
  border-bottom: 2px solid #c4302b;
}

.ChatSearch {
	border: none;
  padding: 2%;
  font-size: 1.2rem;
  width: 75vw;
  font-family: 'scdream3';
  text-align: center;
  font-weight: bold;
  opacity: 0.9;
}

.ChatSearch:focus {
  outline: none;
  background-color: none;
  font-weight: bold;
}

.ChatSubmit {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #c4302b;
  margin-left: 1%;
  border-radius: 30%;
  cursor: pointer;
}
.ChatRoomsWrapper {
	margin-left:8%;
}
.RoomWrapper {
  margin-bottom: 2%;
  width: 100%;
  display: inline-block;
}

.ChatImg {
	float:left;
}

.ChatImg > a > img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.ChatSender {
  float:left;
  font-size: 1.2rem;
  font-weight: bold;
  color:black;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
  overflow-x: hidden;
  margin-top:5%;
  	margin-left: 5%;
  	font-family: 'scdream3';
}
.ChatSender a {
	color:black;
  text-decoration:none;
}

.ChatRoomIn {
	margin-top: 5%;
  font-size: 1rem;
  margin-left: 3%;
}

.ChatRoomIn > a {
  color: #c4302b;
  text-decoration: none;
  outline: none;
  font-weight: bold;
}

/* chatroom */

.whoBox {
	display: flex;
    vertical-align: middle;
    border-bottom: 3px solid #c4302b;
    position:fixed;
    width: 95%;
    background:white;
    margin-top: -9px;
    padding-top: 10px;
}
.ChatWho {
  display:inline-block;
}
.ChatWhoImg {
	border-radius: 50%;
	width: 12vw;
	height: 10vh;
}
.ChatWho > h2 {
	text-align: center;
	display: inline-block;
}

.chatWhoName {
    display: inline-block;
    margin-left: 5%;
    vertical-align: middle;
    margin-top: 4%;
    font-weight: bold;
    font-size:1.5rem; 
    font-family: 'scdream3';
}
.chatNotice {
	margin-top: 20%;
	text-align: center;
}
.ChatOut {
	font-size: 1.5rem;
}

#ChatLogsWrapper {
  padding: 3%;
  min-height: 20vh;
  margin-bottom: 35px;
}
#chatLog {
	
}

.ChatSenderBigWrapper {
  text-align: right;
}

.ChatSenderWrapper {
  background-color: #c4302b;
  margin-bottom: 2%;
  display: inline-block;
  padding: 2%;
  border-radius: 10px;
}

.SenderImgWrapper {
  text-align: center;
  display: inline-block;
}

.ChatSendProfileImg {
  border-radius: 50%;
  width: 8vw;
  height: 6vh;
}

.SenderChatMessageContent {
  text-align: left;
  width: 35vw;
}

.SenderChatDate {
  float: right;
  font-family:nanumGothic;
  font-size: 0.8rem;
  margin-top:5%;
}

.ChatReceiverBigWrapper {
  text-align: left;
}

.ChatReceiverWrapper {
  background-color: royalblue;
  margin-bottom: 2%;
  display: inline-block;
  padding: 2%;
  border-radius: 10px;
}

.ReceiverImgWrapper {
  text-align: center;
  display: inline-block;
}

.ChatReceiverProfileImg {
  border-radius: 50%;
  width: 8vw;
  height: 6vh;
}

.ChatMessageReceiver {
  max-width: 30vw;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  margin-bottom: 5%;
  text-align: center;
  display: inline-block;
  font-weight:bold;
  font-family: 'scdream3';
  margin-left: 5px;
}

.ReceiverChatMessageContent {
  width: 35vw;
}

.ReceiverChatDate {
  float: left;
  font-family:nanumGothic;
  font-size: 0.8rem;
}

.ChatContent {
	word-wrap: break-word;
	word-break: break-word;
    font-weight: bold;
    display: inline-block;
    font-size: 0.9rem;
    font-family: nanumGothic;
    margin: 0px;
}

.MessageInputWrapper {
	margin-top: 1%;
	text-align: center;
	border-top: 2px solid #c4302b;
	position: fixed;
    top: 92%;
    width: 95%;
    background: white;
    height:8%;
}
.submitBox {
	margin-top: 1%;
}

.MessageInput {
  border: 2px solid #c4302b;
  border-radius: 30px;
  padding: 2%;
  font-size: 0.9rem;
  width: 60vw;
  height:1vh;
  text-align: center;
  font-family: nanumGothic;
  opacity: 0.9;
}

.MessageInput:focus {
  outline: none;
  background-color: none;
  font-weight: bold;
}
.MessageInput:focus::placeholder {
	color:white;
}
.MessageButtonL {
  font-size: 1.2rem;
  border:none;
  background-color: #c4302b;
  border-radius: 30%;
  margin-right:3%;
  cursor: pointer;
}
.MessageButtonR {
  font-size: 1.2rem;
  border:none;
  background-color: #c4302b;
  border-radius: 30%;
  margin-left: 3%;
  cursor: pointer;
}
