@font-face {
  src: url('../../fonts/SCDream3.otf');
  font-family: 'scdream3';
}

.ChatListTitle {
  font-size: 1.5rem;
  margin-bottom: 5%;
  text-align: center;
  font-family: 'scdream3';
}

.ChatForm {
  text-align: center;
  margin-bottom: 5%;
  font-family: 'scdream3';
}

.ChatSearch {
  border: 4px solid #dddddd;
  padding: 2%;
  font-size: 1.8rem;
  width: 50vw;
  text-align: center;
  font-weight: bold;
}

.ChatSearch:focus {
  outline: none;
  background-color: none;
  font-weight: bold;
}

.ChatSubmit {
  font-size: 2rem;
  font-weight: bold;
  background: #dddddd;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 1%;
}

.ChatRoomsWrapper {
	
}

.RoomWrapper {
	margin-bottom: 2%;
}

.ChatImg {
	display: inline-block;
}

.ChatImg > a > img {
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
}

.ChatSender {
	display: inline-block;
	font-size: 1.8rem;
	font-weight: bold;
}

.ChatRoomIn {
	display: inline-block;
	font-size: 1.5rem;
	margin-left: 3%;
}

.ChatRoomIn > a {
	color: #c4302b; 
	text-decoration: none; 
	outline: none;
	font-weight: bold;
}



.ChatWho {
  font-size: 1.3rem;
}

#ChatLogsWrapper {
	background-color: #dddddd;
	padding: 3%;
}

.ChatSenderBigWrapper {
	text-align: right;
}

.ChatSenderWrapper {
	background-color: #fff2f2;
	margin-bottom: 2%;
	display: inline-block;
	padding: 2%;
}

.ChatMessageSender {
	max-width: 30vw;
	overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  margin-bottom: 5%;
}

.ChatMessageContent {
	text-align: left;
}







